{{ define "main" }}
<section class="intro">
  <h1>{{ .Site.Title }}</h1>
  <p>{{ .Site.Params.description }}</p>
</section>
<section class="post-list">
  {{ range (where .Site.RegularPages "Type" "posts").ByDate.Reverse }}
  <article class="post-summary">
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <p class="meta">
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
    </p>
    <p>{{ .Description }}</p>
    {{ if .Params.tags }}
    <ul class="tags">
      {{ range .Params.tags }}<li><a class="tag" href="{{ (printf "/tags/%s/" (. | urlize)) | relURL }}">{{ . }}</a></li>{{ end }}
    </ul>
    {{ end }}
  </article>
  {{ end }}
</section>
{{ end }}
